
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="demoXmlfile1" verbose="1">
	<test name="testngdemoXml">
	<parameter name="browser" value="chrome" />	
		<classes>
			<class name="com.tcs.tests.AnnotationsTest">
				<methods>
					<include name="testMethod1" />
				</methods>
			</class>
		</classes>
		
	</test>
	<test name="tesetngdemoxml2">
		<classes>
			<class name="com.tcs.tests.AnnotationTest2">
				<methods>
					<include name="testMethod2" />
				</methods>
			</class>
		</classes>
	</test>
</suite>